* {
  margin: 0;
  padding: 0;
}

header {

  background-color: #1F2937;
  padding-bottom: 0%;
}

header .logo {
  color: white;
}

a {
  color: white;
}

.links {

  display: flex;
  list-style: none;
  gap: 25px;

}







div.logo>img {
  height: 35%;
  width: auto;
}


.header-top {
  display: flex;
  justify-content: space-around;
}


div.logo {
  height: 250px;
}


.card {
  display: flex;

}


.card-left {
  margin-left: 400px;
}


.card-right img {
  height: 250px;
  margin-left: 200px;
  margin-bottom: 100px;
}


.card-left button {
  background-color: #3882F6;
  margin-top: 15px;
  color: white;
  border-radius: 5px;
  width: 90px;
  height: 25px;
}



/*============CARD===========================================*/








/*======================BODY=======================================================*/




.title {
  text-align: center;
  margin-top: 45px;
}





.main-text {
  color: white;
  padding-bottom: 50px;
}


.image-one img,
.image-two img,
.image-three img,
.image-four img {

  border: 5px solid blue;
  height: 250px;
}


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
}



.info p {
  font-size: small;
}

.top {
  display: flex;
  justify-content: space-around;
}


.quote-container {
  text-align: center;
  padding-top: 50px;
  margin: 100px;
  font-size: 36px;
  font-weight: light italic;
  color: #1F2927;
  background-color: #E5E7EB;
}


.citation {
  margin-left: 500px;
  font-weight: bold;
  font-size: 30px;
}


.action-container {
  background-color: blue;
  border-radius: 8px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 100px;



}


.action-container h3 {
  margin-left: 475px;
  color: white;

}


.action-container sub {
  margin-right: 350px;
}

.action-button {
  background-color: #3882F6;
  color: white;
  border-radius: 5px;
  width: 90px;
  height: 25px;
}


/*==========footer===================*/

footer {
  background-color: #1F2937;
  text-align: center;
  color: white;
  padding: 15px;
}