* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #1F2937;


}



.links {

  display: flex;
  list-style: none;
  gap: 25px;

}

.card {
  border: 2px solid purple;
  background-color: #1F2937;
  padding-top: 75px;



}


.main-text {
  padding-left: 250px;
}


sub>p {
  padding-top: 15px;
  padding-left: 250px;
}