.images {
  display: flex;
  justify-content: space-evenly;
}

.homelander-image {
  border: 10px solid blue;
  width: 500px;
}

.butcher-image {
  width: 500px;
  border: 10px solid blue;
}

.deep-image {
  width: 500px;
  border: 10px solid blue;
}

.sb-image {
  width: 500px;
  border: 10px solid blue;
}

.middle {
  align-items: center;
  text-align: center;
}
