.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; /* Add some padding for better spacing */
}

.youtube-link {
  margin: 50px;
  padding: 49px;
}

.google-link {
  margin: 50px;
  padding: 49px;
}
